[submodule "medusa-admin"]
	path = medusa-admin
	url = https://github.com/medusajs/admin.git

[submodule "medusa-storefront"]
	path = medusa-storefront
	url = https://github.com/medusajs/nextjs-starter-medusa.git

[submodule "gatsby-starter-medusa"]
	path = gatsby-starter-medusa
	url = https://github.com/medusajs/gatsby-starter-medusa
